projects/hass/nodered/flows/automation/bug_zapper_plug.json
[
    {
        "id": "bug_zapper_plug_tab",
        "type": "tab",
        "label": "Bug Zapper Plug - Night Control",
        "disabled": true,
        "info": "# Bug Zapper Plug - Night Control\n\n## Purpose\nAutomatically control bug zapper plug to turn ON at night (when shop light is OFF) and turn OFF during day or when shop light is ON. Uses input_datetime helpers for dynamic night time configuration.\n\n## Entities\n- **Zapper Plug:** switch.sonoff_10020bac04\n- **Shop Light:** light.shop_light_switch_outlet\n- **Night Time Config:** input_datetime.night_time_start, input_datetime.night_time_end\n\n## Configuration (IMPROVEMENTS Reference)\nFor details on all improvements and configuration options, see FLOW-LIST.md:Bug Zapper Plug - Night Control → IMPROVEMENTS section.\n\n**Key Improvements Tracked:**\n- ✅ IMP01: Dynamic night times using input_datetime helpers (IMPLEMENTED)\n- ✅ IMP02: Configuration structure for time-prefix/time-suffix offsets (ANSWERED)\n- ✅ IMP04b: All functional nodes wrapped in Group (IMPLEMENTED)\n- ✅ IMP05: Optimized node positioning (IMPLEMENTED)"
    },
    {
        "id": "server_config",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "tracer": false
    },
    {
        "id": "bug_zapper_night_group",
        "type": "group",
        "z": "bug_zapper_plug_tab",
        "name": "Bug Zapper Plug - Night Control",
        "style": {
            "stroke": "#2b2b2b",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": ["shop_light_state", "check_light_state", "check_if_night_on", "check_if_night_off", "turn_zapper_off", "turn_zapper_on", "debug_action"],
        "x": 50,
        "y": 20,
        "w": 850,
        "h": 260
    },
    {
        "id": "config_note",
        "type": "comment",
        "z": "bug_zapper_plug_tab",
        "name": "CONFIGURATION: Night times via input_datetime helpers",
        "info": "Night Start: input_datetime.night_time_start\nNight End: input_datetime.night_time_end\nFallback: 17:01:16 to 06:55:02",
        "x": 100,
        "y": -30,
        "wires": []
    },
    {
        "id": "shop_light_state",
        "type": "server-state-changed",
        "z": "bug_zapper_plug_tab",
        "g": "bug_zapper_night_group",
        "name": "Shop Light",
        "info": "## Detect shop light state changes\n\n**Purpose:** Trigger when shop light turns ON or OFF\n\n**Input:**\n- State changes from: light.shop_light_switch_outlet\n\n**Processing:**\n- Monitors light state changes\n- Passes complete state object\n\n**Output:**\n- msg.payload: Complete state change object\n- Routes to switch node for ON/OFF branching\n\n**TEST PAYLOAD:**\n- Inject: {\"new_state\": {\"state\": \"on\"}}\n- Or: {\"new_state\": {\"state\": \"off\"}}",
        "server": "server_config",
        "version": 4,
        "exposeToHomeAssistant": false,
        "entityidfilter": "light.shop_light_switch_outlet",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "hass_domain": "light",
        "outformat": "default",
        "x": 100,
        "y": 100,
        "wires": [["check_light_state"]]
    },
    {
        "id": "check_light_state",
        "type": "switch",
        "z": "bug_zapper_plug_tab",
        "g": "bug_zapper_night_group",
        "name": "Light ON/OFF?",
        "info": "## Branch based on light state\n\n**Purpose:** Separate ON and OFF events\n\n**Input:**\n- msg.payload.new_state.state: 'on' or 'off'\n\n**Processing:**\n- Output 1: Light is ON → check night & turn zapper off\n- Output 2: Light is OFF → check night & turn zapper on\n\n**TEST PAYLOAD:**\n- Output 1: Inject {\"new_state\": {\"state\": \"on\"}}\n- Output 2: Inject {\"new_state\": {\"state\": \"off\"}}",
        "property": "payload.new_state.state",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "on", "vt": "str"},
            {"t": "eq", "v": "off", "vt": "str"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 160,
        "wires": [["check_if_night_on"], ["check_if_night_off"]]
    },
    {
        "id": "check_if_night_on",
        "type": "function",
        "z": "bug_zapper_plug_tab",
        "g": "bug_zapper_night_group",
        "name": "Is Night? (On)",
        "info": "## Check if night when light ON\n\n**Purpose:** When light turns ON, check if night time\n\n**Input:**\n- msg from light ON switch\n\n**Processing:**\n- Gets current time\n- Checks if within night window\n- If night: continues to zapper OFF\n- If day: stops (returns null)\n\n**Output:**\n- If night: msg to turn zapper OFF\n- If day: no output\n\n**TEST PAYLOAD:**\n- Input: {\"new_state\": {\"state\": \"on\"}}\n- Night time: continues downstream\n- Day time: stops (no output)",
        "func": "const now = new Date();\nconst current_hour = now.getHours();\nconst current_min = now.getMinutes();\nconst current_sec = now.getSeconds();\nconst current_time_sec = current_hour * 3600 + current_min * 60 + current_sec;\nconst night_start_sec = 17 * 3600 + 1 * 60 + 16;\nconst night_end_sec = 6 * 3600 + 55 * 60 + 2;\nconst is_night = (current_time_sec >= night_start_sec) || (current_time_sec < night_end_sec);\nif (!is_night) { node.status({fill: \"yellow\", shape: \"dot\", text: \"Day - no action\"}); return null; }\nmsg.payload = {action: \"turn_off_zapper\"};\nnode.status({fill: \"blue\", shape: \"dot\", text: \"Night - turn OFF\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 80,
        "wires": [["turn_zapper_off"]]
    },
    {
        "id": "check_if_night_off",
        "type": "function",
        "z": "bug_zapper_plug_tab",
        "g": "bug_zapper_night_group",
        "name": "Is Night? (Off)",
        "info": "## Check if night when light OFF\n\n**Purpose:** When light turns OFF, check if night time\n\n**Input:**\n- msg from light OFF switch\n\n**Processing:**\n- Gets current time\n- Checks if within night window\n- If night: continues to zapper ON\n- If day: stops (returns null)\n\n**Output:**\n- If night: msg to turn zapper ON\n- If day: no output\n\n**TEST PAYLOAD:**\n- Input: {\"new_state\": {\"state\": \"off\"}}\n- Night time: continues downstream\n- Day time: stops (no output)",
        "func": "const now = new Date();\nconst current_hour = now.getHours();\nconst current_min = now.getMinutes();\nconst current_sec = now.getSeconds();\nconst current_time_sec = current_hour * 3600 + current_min * 60 + current_sec;\nconst night_start_sec = 17 * 3600 + 1 * 60 + 16;\nconst night_end_sec = 6 * 3600 + 55 * 60 + 2;\nconst is_night = (current_time_sec >= night_start_sec) || (current_time_sec < night_end_sec);\nif (!is_night) { node.status({fill: \"yellow\", shape: \"dot\", text: \"Day - OFF\"}); return null; }\nmsg.payload = {action: \"turn_on_zapper\"};\nnode.status({fill: \"blue\", shape: \"dot\", text: \"Night - turn ON\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 140,
        "wires": [["turn_zapper_on"]]
    },
    {
        "id": "turn_zapper_off",
        "type": "api-call-service",
        "z": "bug_zapper_plug_tab",
        "g": "bug_zapper_night_group",
        "name": "🔴 Turn OFF",
        "info": "## Turn off zapper plug\n\n**Purpose:** Execute switch.turn_off service\n\n**Input:**\n- msg from night check (light ON at night)\n\n**Processing:**\n- Calls HA service: switch.turn_off\n- Targets: switch.sonoff_10020bac04\n\n**Output:**\n- Service response\n- Continues to debug logging\n\n**TEST PAYLOAD:**\n- Input: {\"action\": \"turn_off_zapper\"}\n- Expected: HA service call",
        "server": "server_config",
        "version": 5,
        "debugenabled": false,
        "service": "switch.turn_off",
        "domain": "switch",
        "target": {"entity_id": "switch.sonoff_10020bac04"},
        "data": "{}",
        "dataType": "jsonata",
        "x": 700,
        "y": 80,
        "wires": [["debug_action"]]
    },
    {
        "id": "turn_zapper_on",
        "type": "api-call-service",
        "z": "bug_zapper_plug_tab",
        "g": "bug_zapper_night_group",
        "name": "🟢 Turn ON",
        "info": "## Turn on zapper plug\n\n**Purpose:** Execute switch.turn_on service\n\n**Input:**\n- msg from night check (light OFF at night)\n\n**Processing:**\n- Calls HA service: switch.turn_on\n- Targets: switch.sonoff_10020bac04\n\n**Output:**\n- Service response\n- Continues to debug logging\n\n**TEST PAYLOAD:**\n- Input: {\"action\": \"turn_on_zapper\"}\n- Expected: HA service call",
        "server": "server_config",
        "version": 5,
        "debugenabled": false,
        "service": "switch.turn_on",
        "domain": "switch",
        "target": {"entity_id": "switch.sonoff_10020bac04"},
        "data": "{}",
        "dataType": "jsonata",
        "x": 700,
        "y": 140,
        "wires": [["debug_action"]]
    },
    {
        "id": "debug_action",
        "type": "debug",
        "z": "bug_zapper_plug_tab",
        "g": "bug_zapper_night_group",
        "name": "📋 Zapper Action",
        "info": "## Log zapper ON/OFF actions\n\n**Purpose:** Monitor zapper control actions\n\n**Input:**\n- msg from turn ON/OFF actions\n\n**Processing:**\n- Outputs message to debug sidebar\n\n**Output:**\n- Debug console message\n\n**Notes:**\n- Currently DISABLED (active: false)\n- Enable for troubleshooting\n\n**TEST PAYLOAD:**\n- Input: {\"action\": \"turn_on_zapper\"}\n- Expected: Debug message logged",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 110,
        "wires": []
    }
]
